.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 100;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    padding: 48px;
    border-radius: 16px;
    background-color: var(--colors-ashy-solid-500);
    position: relative;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    padding: 0;
    z-index: 2;
    background-color: var(--colors-ashy-solid-500);
    border: none;
    opacity: 25%;
    cursor: pointer;

    &:hover {
      opacity: 100%;
    }
  }
}

@media screen and (max-width: 499px) {
  .modal {
    &__content {
      padding: 16px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin: auto 0 0 0;
    }
  }
}