:root {
	--color-font-3: #2d2c32;
}

:root {
	--color-background: #151515;
	--colors-cloudy-solid-500: #fff;
	--colors-plate-solid-500: #F0F0F3;
	--colors-cloudy-alpha-008: #3d3d42;
	--colors-cloudy-alpha-024: #5f5e63;
	--colors-cloudy-alpha-100: #767386;
	--colors-primary-solid-500: #6366f1;
	--colors-cloudy-alpha-040: rgba(255, 255, 255, 0.4);
	--colors-primary-solid-300: #fdb172;
	--colors-ashy-solid-500: #2d2c32;
	--colors-ashy-solid-300: #fdb172;
	--colors-primary-solid-800: #9a4a12;
	--colors-primary-solid-600: #4649e5;
	--colors-success-solid-500: #22c55e;
	--colors-success-solid-900: #14532b;
	--colors-success-solid-300: #85ef89;
	--colors-warning-solid-300: #fdb172;
	--colors-warning-solid-500: #f97316;
	--colors-warning-solid-900: #7c3d12;
}